html{
    font-family: Helvetica, sans-serif;
    color:black
}

body{

    background-image: url("Autumn.webp");
    padding: 5px;
    margin-left: 200px;
    margin-top: 50px;
}

form {
    border-radius: 20px;
    background: white;
    max-width: 400px;
    padding: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

legend{
    border: 1px solid  #333333dc;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #333333dc;
    padding: 7px; 
}

p > label {
    display: block;}

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="date"],
    textarea,
    fieldset {  
        width: 90%;
        border: 1px solid #333333dc; 
        border-radius: 15px;
        margin: 0;
    
        font-family: inherit;
        font-size: 90%;
    }

.input{
    box-shadow: inset 1px 1px 1px #333333dc;
}

.button {
    margin: 5px;
    width: 75px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    background: whitesmoke;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC,
               -5px -5px 10px #ffffff73;
  }
  
  .button:focus {
    color: black;
    box-shadow: inset 2px 2px 5px #BABECC,
               inset -5px -5px 10px #ffffff73;
  }
